<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Изменить товар</title>
</head>
<style>
  .named_list{
    font-size: 12pt;
    color: green;
    display: inline-block;
    width: 300px;
    text-align: left;
  }
</style>
<body>
<h2 align="center">Введите изменение в описание продукта</h2>
<center>
  {% for msg in get_flashed_messages() %}
    <div class="flash">{{msg}}</div>
  {% endfor %}
  <br><br>
  <form action="" method="POST">
    <label for="prod_name" class="named_list">Название продукта</label>
    <input type="text" id="prod_name" name="prod_name" value="{{product['prod_name']}}">
    <br>
    <label for="prod_price" class="named_list">Цена продукта</label>
    <input type="text" id="prod_price" name="prod_price" value="{{product['prod_price']}}">
    <br>
    <label for="prod_measure" class="named_list">Единица измерения</label>
    <input type="text" id="prod_measure" name="prod_measure" value="{{product['prod_measure']}}">
    <br>
    <input type="hidden" name="prod_id" value="{{product['prod_id']}}">
    <button type="submit" name="action" value="update_prod">Отправить</button>
  </form>
  <br><br>
  <a href={{url_for('bp_edit.show_all_products')}} class="menu__link">Вернуться в меню редактирования</a>
</center>
</body>
</html>