@import "../shared/fonts";
@import "../shared/nullstyle";
@import "body";

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("https://leaderteam.ru/storage/0_mercandajzing-fruktov-i-ovosej-6_275d18aa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  backdrop-filter: blur(1px);
}
.wrapper {
  max-width: 1000px;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}