<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_cart_confirm.css') }}">
</head>
<body>
  <div align="left" class="box">
      <div>
          {% if items %}
    {% for item in items %}
    <p>
      <span>
            <b>ФИО пациента:</b> {{ item['FIO_patient'] }}
      </span><br>
        <span>
            <b>Дата рождения пациента:</b> {{ item['birthday'] }}
        </span><br>
      <span>
            <b>Специальность врача:</b> {{ session['speciality'] }}
        </span><br>
      <span>
            <b>ФИО врача:</b> {{ item['FIO_doctor'] }}
        </span><br>
      <span>
            <b>Дата записи:</b> {{ session['date_zap'] }}
        </span><br>
      <span>
            <b>Время записи:</b> {{ session['time_zap'] }}
        </span><br>
    </p>
      {% endfor %}
      {% endif %}
      </div>
    <div>
      <form action="" method="post">
          <input type="submit" value="Добавить запись">
          <input type="hidden" name="date_zap" value="{{ session['date_zap'] }}">
          <input type="hidden" name="time_zap" value="{{ session['date_zap'] }}">
          <input type="hidden" name="patient_id" value="{{ session['patient_id'] }}">
          <input type="hidden" name="doctor_id" value="{{ session['doctor_id'] }}">
      </form>
  </div>
      <a class="button" href="{{ url_for('basket.cart_timetable') }}">Назад</a>
  </div>

</body>
</html>