{% macro render_item(item, key, show_form=False, show_amount=False) %}
<div style='border-style: solid; border-color: #000000; margin: 5px'>
    <p>
        <span>
            <b>Название продукта:</b> {{ item['prod_name'] }}
        </span><br>
        <span>
            <b>Цена:</b> {{ item['prod_price'] }}
        </span><br>
        {% if show_amount %}
        <div>
            <form action="" method="post">
                <input type="hidden" name="prod_id" value="{{ key }}">
                <label for="prod_add_col">Количество:</label>
                <input type="number" id="prod_add_col" name="prod_add_col" value="{{item['amount']}}">
                <button type="submit" name="action" value="1">Редактировать</button>
            </form>
        </div>
        {% endif %}

    </p>

    {% if show_form %}
    <div align="right">
        <form action="" method="post">
            <input type="hidden" name="prod_id" value="{{ item['prod_id'] }}">
            <button type="submit" name="action" value="2">Добавить</button>
        </form>
    </div>
    {% endif %}
</div>
{% endmacro %}